In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
crimes = pd.read_csv(r'C:\Users\rewan\Desktop\Year 2\Semester 2\Data Science\Project\Index_Crimes_by_County_and_Agency__Beginning_1990.csv')
hateCrimes = pd.read_csv(
    r'C:\Users\rewan\Desktop\Year 2\Semester 2\Data Science\Project\Hate_Crimes_by_County_and_Bias_Type__Beginning_2010.csv')

 **The main dataset we're working on is the crimes dataset, it is a dataset about crimes that were reported in New-York state from 1990 to 2020, which county they occured, and what agency were they reported to.**
 
 **The hate crimes dataset is about hate crimes that occured in the same counties in New-York state, who they were against, and if they were against a person or their property. It is just complementary data that we might use in answering some questions and reaching certain conclusions, it it mostly cleaned and ready to go**

In [3]:
# we're going to start cleaning the "Crimes" dataset first
# changing the name of some columns to be more descriptive
crimes.rename(columns={'Index Total': 'Total Reported Crimes', 'Violent Total': 'Total Violent Crimes',
              'Property Total': 'Total Property Crimes'}, inplace=True)

In [4]:
# checking nulls
crimes.isnull().sum()

County                      0
Agency                      0
Year                        0
Months Reported          9493
Total Reported Crimes     384
Total Violent Crimes      384
Murder                    384
Rape                      384
Robbery                   384
Aggravated Assault        384
Total Property Crimes     384
Burglary                  384
Larceny                   384
Motor Vehicle Theft       384
Region                      0
dtype: int64

In [5]:
# dropping the "Months Reported" column. It has many null values and is not really relevant to the data we want to extract
crimes.drop(['Months Reported'], axis=1, inplace=True)
crimes

,County,Agency,Year,Total Reported Crimes,Total Violent Crimes,Murder,Rape,Robbery,Aggravated Assault,Total Property Crimes,Burglary,Larceny,Motor Vehicle Theft,Region
0,Albany,Albany City PD,2020,"3,547",875,18,61,164,632,"2,672",430,"1,958",284,Non-New York City
1,Albany,Albany County Park PD,2020,2,0,0,0,0,0,2,0,2,0,Non-New York City
2,Albany,Albany County Sheriff,2020,127,12,0,4,0,8,115,11,96,8,Non-New York City
3,Albany,Albany County State Police,2020,103,26,0,18,2,6,77,4,71,2,Non-New York City
4,Albany,Altamont Vg PD,2020,6,2,0,0,0,2,4,0,4,0,Non-New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21223,Yates,County Total,1990,507,34,0,5,0,29,473,104,361,8,Non-New York City
21224,Yates,Penn Yan Vg PD,1990,142,3,0,1,0,2,139,11,123,5,Non-New York City
21225,Yates,Yates County Park PD,1990,1,0,0,0,0,0,1,0,1,0,Non-New York City
21226,Yates,Yates County Sheriff,1990,318,29,0,4,0,25,289,84,202,3,Non-New York City
21227,Yates,Yates County State Police,1990,46,2,0,0,0,2,44,9,35,0,Non-New York City

In [6]:
# dropping all rows with nulls as they are insignificant in relation to the data
crimes.dropna(axis=0, inplace=True)
crimes.isnull().sum()

County                   0
Agency                   0
Year                     0
Total Reported Crimes    0
Total Violent Crimes     0
Murder                   0
Rape                     0
Robbery                  0
Aggravated Assault       0
Total Property Crimes    0
Burglary                 0
Larceny                  0
Motor Vehicle Theft      0
Region                   0
dtype: int64

In [7]:
# converting the region column to numerical values
crimes = pd.get_dummies(crimes, columns=['Region'])
crimes

,County,Agency,Year,Total Reported Crimes,Total Violent Crimes,Murder,Rape,Robbery,Aggravated Assault,Total Property Crimes,Burglary,Larceny,Motor Vehicle Theft,Region_New York City,Region_Non-New York City
0,Albany,Albany City PD,2020,"3,547",875,18,61,164,632,"2,672",430,"1,958",284,0,1
1,Albany,Albany County Park PD,2020,2,0,0,0,0,0,2,0,2,0,0,1
2,Albany,Albany County Sheriff,2020,127,12,0,4,0,8,115,11,96,8,0,1
3,Albany,Albany County State Police,2020,103,26,0,18,2,6,77,4,71,2,0,1
4,Albany,Altamont Vg PD,2020,6,2,0,0,0,2,4,0,4,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21223,Yates,County Total,1990,507,34,0,5,0,29,473,104,361,8,0,1
21224,Yates,Penn Yan Vg PD,1990,142,3,0,1,0,2,139,11,123,5,0,1
21225,Yates,Yates County Park PD,1990,1,0,0,0,0,0,1,0,1,0,0,1
21226,Yates,Yates County Sheriff,1990,318,29,0,4,0,25,289,84,202,3,0,1
21227,Yates,Yates County State Police,1990,46,2,0,0,0,2,44,9,35,0,0,1

In [8]:
# we want to change the datatype of all columns to int except the County and Agency columns, to make it easier to process and
# operate on all the data, so we are dropping them, changing the datatype of the whole datafram, then adding them again

# because some values has ',' in it so it cant be converted to int
crimes.replace(',', '', regex=True, inplace=True)  
#we made a temp var with all collumns except Count and Agency and converted them to int
crimes_int_values_transformed = crimes.loc[:, (crimes.columns != 'County') & (crimes.columns != 'Agency')].astype('int')
#then we changed those same collumns to the new values the int ones
crimes.loc[:, (crimes.columns != 'County') & (crimes.columns != 'Agency')] = crimes_int_values_transformed
crimes.dtypes

County                      object
Agency                      object
Year                         int32
Total Reported Crimes        int32
Total Violent Crimes         int32
Murder                       int32
Rape                         int32
Robbery                      int32
Aggravated Assault           int32
Total Property Crimes        int32
Burglary                     int32
Larceny                      int32
Motor Vehicle Theft          int32
Region_New York City         int32
Region_Non-New York City     int32
dtype: object

In [9]:
# making another dataframe that only includes the total crimes reported in each county each year to make it easier to aggregate
totalCrimes = crimes[crimes['Agency'] == 'County Total']
# we dropped the Agency column since we dont need it anymore
totalCrimes = totalCrimes.drop('Agency', axis=1)

In [10]:
# In the Hate Crimes dataset, converting the "crime type" column to numerical values
hateCrimes = pd.get_dummies(hateCrimes, columns=['Crime Type'])

In [11]:
## we will not handle duplicate values and outliers because it it logical to have such data in out datasets, as this is real
## crime data and there might be duplicate rates in different years or counties, or there might be some countries with 
## significantlly higher or lower rates. The data is very unlikely to be inaccurate because it is directly from the New-York 
## state government.

# Aggregation

In [12]:
## counting the total number of crimes that were reported in the last 30 years in the whole New-York state (all counties)
totalCrimes['Total Reported Crimes'].sum()

18192492

In [13]:
## calculating the mean of all crimes reported per year in the whole state
totalCrimes.groupby('Year')['Total Reported Crimes'].mean()

Year
1990    18349.822581
1991    18169.403226
1992    17073.967742
1993    16299.629032
1994    14825.967742
1995    13347.806452
1996    12115.532258
1997    11441.080645
1998    10469.709677
1999     9726.338710
2000     9438.274194
2001     8991.693548
2002     8692.096774
2003     8372.193548
2004     8074.838710
2005     7893.532258
2006     7707.532258
2007     7435.403226
2008     7495.016129
2009     7257.564516
2010     7265.032258
2011     7240.548387
2012     7296.145161
2013     6978.951613
2014     6615.790323
2015     6313.661290
2016     6096.564516
2017     5857.064516
2018     5630.225806
2019     5432.467742
2020     5523.435484
Name: Total Reported Crimes, dtype: float64

In [14]:
## counting total offendors of hate crimes in the last 10 years
hateCrimes['Total Offenders'].sum()

7340

In [15]:
## counting total victims of hate crimes in the last 10 years
hateCrimes['Total Victims'].sum()

6679

In [16]:
## counting the total of hate crimes in the last 10 years
hateCrimes['Total Incidents'].sum()

6469

**We can see that the total offenders are more that the total of victims, because some of these offenders
committed hate crimes against properties and not people.** <b>     
**And the total incidents is less than the offenders becuase there are crimes with more than one offender.**

In [17]:
## counting the sum of all crimes against both people and properties

peopleCrimes=hateCrimes.loc[(hateCrimes['Crime Type_Crimes Against Persons'] == 1)]
peopleCrimesSum = peopleCrimes['Total Incidents'].sum()
propertyCrimes = hateCrimes.loc[(hateCrimes['Crime Type_Property Crimes'] == 1)]
propertyCrimesSum = propertyCrimes['Total Incidents'].sum()

# Anserwing Qusetions

**1- Did the Covid-19 Pandemic affect crime rates?**

In [18]:
totalCrimes.groupby('Year')['Total Reported Crimes'].sum()

Year
1990    1137689
1991    1126503
1992    1058586
1993    1010577
1994     919210
1995     827564
1996     751163
1997     709347
1998     649122
1999     603033
2000     585173
2001     557485
2002     538910
2003     519076
2004     500640
2005     489399
2006     477867
2007     460995
2008     464691
2009     449969
2010     450432
2011     448914
2012     452361
2013     432695
2014     410179
2015     391447
2016     377987
2017     363138
2018     349074
2019     336813
2020     342453
Name: Total Reported Crimes, dtype: int32

**We can see that in 2020, the total of the crimes was slightly more than 2019, and somewhat close to the number of crimes in 2018. So we can infer that the Covid-19 pandemic didn't really have much of an effect on the crime rate in New-York State.**

In [19]:
hateCrimes.groupby('Year')['Total Incidents'].sum()

Year
2010    703
2011    556
2012    735
2013    617
2014    558
2015    503
2016    599
2017    560
2018    527
2019    623
2020    488
Name: Total Incidents, dtype: int64

**However, in the hate crimes dataset, we can see that 2020 had the least hate crimes in the last 10 years. Which means that the pandemic and lockdown had some kind of effect on the rate of hate crimes in New-York State.**

**8- What are the total crimes reported in every county, per decade (1990s, 2000s, 2010s), and which decades had the least and most crimes?**

In [20]:
bins = [1989, 2001, 2011, 2021]
totalCrimes['Year'] = pd.cut(totalCrimes['Year'], bins,  labels=["1990s", "2000s", "2010s"])
display(totalCrimes)

,County,Year,Total Reported Crimes,Total Violent Crimes,Murder,Rape,Robbery,Aggravated Assault,Total Property Crimes,Burglary,Larceny,Motor Vehicle Theft,Region_New York City,Region_Non-New York City
9,Albany,2010s,7412,1115,19,109,213,774,6297,708,5169,420,0,1
20,Allegany,2010s,401,73,3,38,3,29,328,86,214,28,0,1
26,Bronx,2010s,36217,13129,111,523,3519,8976,23088,2230,18728,2130,1,0
31,Broome,2010s,5180,660,5,126,78,451,4520,668,3634,218,0,1
41,Cattaraugus,2010s,868,125,1,37,6,81,743,137,552,54,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21148,Washington,1990s,1412,180,0,12,10,158,1232,294,892,46,0,1
21159,Wayne,1990s,2604,179,5,19,24,131,2425,543,1813,69,0,1
21175,Westchester,1990s,38145,3871,50,128,1927,1766,34274,6465,21564,6245,0,1
21216,Wyoming,1990s,1354,212,0,6,2,204,1142,406,683,53,0,1
21223,Yates,1990s,507,34,0,5,0,29,473,104,361,8,0,1

In [28]:
totalCrimes.groupby('Year')['Total Reported Crimes'].sum()

Year
1990s    9935452
2000s    4800893
2010s    3456147
Name: Total Reported Crimes, dtype: int32