In [161]:
import pandas as pd
import matplotlib.pyplot as plt

In [162]:
crimes = pd.read_csv(r'Index_Crimes_by_County_and_Agency__Beginning_1990.csv')
hateCrimes = pd.read_csv(
    r'Hate_Crimes_by_County_and_Bias_Type__Beginning_2010.csv')

 **the main dataset we're working on is the crimes dataset, the hate crimes one is some data that we might use in answering some questions and reaching certain conclusions, it it mostly cleaned and ready to go**

In [163]:
# we're going to start cleaning the "Crimes" dataset first
# changing the name of some columns to be more descriptive
crimes.rename(columns={'Index Total': 'Total reported crimes', 'Violent Total': 'Total Violent Crimes',
              'Property Total': 'Total Propert Crimes'}, inplace=True)

In [164]:
# checking nulls
crimes.isnull().sum()

County                      0
Agency                      0
Year                        0
Months Reported          9493
Total reported crimes     384
Total Violent Crimes      384
Murder                    384
Rape                      384
Robbery                   384
Aggravated Assault        384
Total Propert Crimes      384
Burglary                  384
Larceny                   384
Motor Vehicle Theft       384
Region                      0
dtype: int64

In [165]:
# dropping the "Months Reported" column. It has many null values and is not really relevant to the data we want to extract
crimes.drop(['Months Reported'], axis=1, inplace=True)
crimes

,County,Agency,Year,Total reported crimes,Total Violent Crimes,Murder,Rape,Robbery,Aggravated Assault,Total Propert Crimes,Burglary,Larceny,Motor Vehicle Theft,Region
0,Albany,Albany City PD,2020,"3,547",875,18,61,164,632,"2,672",430,"1,958",284,Non-New York City
1,Albany,Albany County Park PD,2020,2,0,0,0,0,0,2,0,2,0,Non-New York City
2,Albany,Albany County Sheriff,2020,127,12,0,4,0,8,115,11,96,8,Non-New York City
3,Albany,Albany County State Police,2020,103,26,0,18,2,6,77,4,71,2,Non-New York City
4,Albany,Altamont Vg PD,2020,6,2,0,0,0,2,4,0,4,0,Non-New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21223,Yates,County Total,1990,507,34,0,5,0,29,473,104,361,8,Non-New York City
21224,Yates,Penn Yan Vg PD,1990,142,3,0,1,0,2,139,11,123,5,Non-New York City
21225,Yates,Yates County Park PD,1990,1,0,0,0,0,0,1,0,1,0,Non-New York City
21226,Yates,Yates County Sheriff,1990,318,29,0,4,0,25,289,84,202,3,Non-New York City
21227,Yates,Yates County State Police,1990,46,2,0,0,0,2,44,9,35,0,Non-New York City

In [166]:
# dropping all rows with nulls as they are insignificant in relation to the data
crimes.dropna(axis=0, inplace=True)
crimes.isnull().sum()

County                   0
Agency                   0
Year                     0
Total reported crimes    0
Total Violent Crimes     0
Murder                   0
Rape                     0
Robbery                  0
Aggravated Assault       0
Total Propert Crimes     0
Burglary                 0
Larceny                  0
Motor Vehicle Theft      0
Region                   0
dtype: int64

In [167]:
# converting the region column to numerical values
crimes = pd.get_dummies(crimes, columns=['Region'])
crimes

,County,Agency,Year,Total reported crimes,Total Violent Crimes,Murder,Rape,Robbery,Aggravated Assault,Total Propert Crimes,Burglary,Larceny,Motor Vehicle Theft,Region_New York City,Region_Non-New York City
0,Albany,Albany City PD,2020,"3,547",875,18,61,164,632,"2,672",430,"1,958",284,0,1
1,Albany,Albany County Park PD,2020,2,0,0,0,0,0,2,0,2,0,0,1
2,Albany,Albany County Sheriff,2020,127,12,0,4,0,8,115,11,96,8,0,1
3,Albany,Albany County State Police,2020,103,26,0,18,2,6,77,4,71,2,0,1
4,Albany,Altamont Vg PD,2020,6,2,0,0,0,2,4,0,4,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21223,Yates,County Total,1990,507,34,0,5,0,29,473,104,361,8,0,1
21224,Yates,Penn Yan Vg PD,1990,142,3,0,1,0,2,139,11,123,5,0,1
21225,Yates,Yates County Park PD,1990,1,0,0,0,0,0,1,0,1,0,0,1
21226,Yates,Yates County Sheriff,1990,318,29,0,4,0,25,289,84,202,3,0,1
21227,Yates,Yates County State Police,1990,46,2,0,0,0,2,44,9,35,0,0,1

/////////////////////////////////////////////////////////

In [168]:
# we want to change the datatype of all columns to int except the County and Agency columns, to make it easier to process and
# operate on all the data, so we are dropping them, changing the datatype of the whole datafram, then adding them again

crimes.replace(',', '', regex=True, inplace=True)  # cause some values has this ',' in it (error cant make str to int)
#i made a temp var with all col except count and agency and transformed them to int
crimes_int_values_transformed = crimes.loc[:, (crimes.columns != 'County') & (crimes.columns != 'Agency')].astype('int')
#then i changed those same col to the new values the int ones
crimes.loc[:, (crimes.columns != 'County') & (crimes.columns != 'Agency')] = crimes_int_values_transformed
crimes.dtypes

County                      object
Agency                      object
Year                         int32
Total reported crimes        int32
Total Violent Crimes         int32
Murder                       int32
Rape                         int32
Robbery                      int32
Aggravated Assault           int32
Total Propert Crimes         int32
Burglary                     int32
Larceny                      int32
Motor Vehicle Theft          int32
Region_New York City         int32
Region_Non-New York City     int32
dtype: object

///////////////////////////////////////////

In [169]:
# making another dataframe that only includes the total crimes reported in each county each year
# without the agency they were reported to
totalCrimes = crimes[crimes['Agency'] == 'County Total']
totalCrimes = totalCrimes.drop('Agency', axis=1) # i dropped agency we dont need it now
totalCrimes

,County,Year,Total reported crimes,Total Violent Crimes,Murder,Rape,Robbery,Aggravated Assault,Total Propert Crimes,Burglary,Larceny,Motor Vehicle Theft,Region_New York City,Region_Non-New York City
9,Albany,2020,7412,1115,19,109,213,774,6297,708,5169,420,0,1
20,Allegany,2020,401,73,3,38,3,29,328,86,214,28,0,1
26,Bronx,2020,36217,13129,111,523,3519,8976,23088,2230,18728,2130,1,0
31,Broome,2020,5180,660,5,126,78,451,4520,668,3634,218,0,1
41,Cattaraugus,2020,868,125,1,37,6,81,743,137,552,54,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21148,Washington,1990,1412,180,0,12,10,158,1232,294,892,46,0,1
21159,Wayne,1990,2604,179,5,19,24,131,2425,543,1813,69,0,1
21175,Westchester,1990,38145,3871,50,128,1927,1766,34274,6465,21564,6245,0,1
21216,Wyoming,1990,1354,212,0,6,2,204,1142,406,683,53,0,1
21223,Yates,1990,507,34,0,5,0,29,473,104,361,8,0,1

In [170]:
# the hate crimes dataset
hateCrimes

,County,Year,Crime Type,Anti-Male,Anti-Female,Anti-Transgender,Anti-Gender Non-Conforming,Anti-Age*,Anti-White,Anti-Black,...,Anti-Gay Male,Anti-Gay Female,Anti-Gay (Male and Female),Anti-Heterosexual,Anti-Bisexual,Anti-Physical Disability,Anti-Mental Disability,Total Incidents,Total Victims,Total Offenders
0,Albany,2020,Crimes Against Persons,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,3,3,4
1,Albany,2020,Property Crimes,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
2,Bronx,2020,Crimes Against Persons,0,0,1,1,0,0,0,...,2,2,0,0,0,0,0,9,10,12
3,Bronx,2020,Property Crimes,0,0,0,0,0,0,2,...,1,0,0,0,0,0,0,13,13,13
4,Broome,2020,Crimes Against Persons,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,Ulster,2010,Property Crimes,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
669,Washington,2010,Crimes Against Persons,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
670,Wayne,2010,Crimes Against Persons,0,0,0,0,0,0,2,...,1,0,0,0,0,0,0,3,3,3
671,Westchester,2010,Crimes Against Persons,0,0,0,0,0,1,3,...,4,0,1,0,0,0,0,16,16,21
672,Westchester,2010,Property Crimes,0,0,0,0,0,1,1,...,0,0,1,0,0,0,0,9,9,11

In [171]:
# converting the "crime type" column to numerical values
pd.get_dummies(hateCrimes, columns=['Crime Type'])

,County,Year,Anti-Male,Anti-Female,Anti-Transgender,Anti-Gender Non-Conforming,Anti-Age*,Anti-White,Anti-Black,Anti-American Indian/Alaskan Native,...,Anti-Gay (Male and Female),Anti-Heterosexual,Anti-Bisexual,Anti-Physical Disability,Anti-Mental Disability,Total Incidents,Total Victims,Total Offenders,Crime Type_Crimes Against Persons,Crime Type_Property Crimes
0,Albany,2020,0,0,0,0,0,0,1,0,...,0,0,0,0,0,3,3,4,1,0
1,Albany,2020,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,1
2,Bronx,2020,0,0,1,1,0,0,0,0,...,0,0,0,0,0,9,10,12,1,0
3,Bronx,2020,0,0,0,0,0,0,2,0,...,0,0,0,0,0,13,13,13,0,1
4,Broome,2020,0,0,0,0,0,0,0,0,...,0,0,0,0,0,4,4,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,Ulster,2010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,1
669,Washington,2010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,0
670,Wayne,2010,0,0,0,0,0,0,2,0,...,0,0,0,0,0,3,3,3,1,0
671,Westchester,2010,0,0,0,0,0,1,3,0,...,1,0,0,0,0,16,16,21,1,0
672,Westchester,2010,0,0,0,0,0,1,1,0,...,1,0,0,0,0,9,9,11,0,1