# Introduction to Data Science 


## Lab 2: Data Collection - Web Scraping - Data Parsing

**British University in Egypt**<br>
**Instructors:** Nahla Barakat
---

In [1]:
from IPython.display import HTML
style = "<style>div.exercise { background-color: #ffcccc;border-color: #E9967A; border-left: 5px solid #800080; padding: 0.5em;}</style>"
HTML(style)

# Table of Contents
<ol start="1">
  <li> Hamlet Solutin </li>
  <li> `Pandas` </li>
  <li> Beautiful Soup  </li>
</ol>

## Part 1:  Hamlet Solution

<b> Exercise </b> 
* hamlet.txt is in the `data` directory.  Open and read it into a variable called `hamlettext`.
* What is the type of `hamlettext`?  What is its length?  Print the first $500$ items of `hamlettext`.
* Create a list called `hamletwords` where the items are the words of the play.
  * Confirm that the list you created is really a list
  * Confirm that each element of the list is a string
  * Print the first 10 items in the list.  
  * Print "There are $N$ total words in Hamlet.",  where $N$ is the total number of words in Hamlet.
* Using a *list comprehension*, create `hamletwords_lc` which converts the items in `hamletwords` to lower-case. 
* Count the number of occurences of the word "thou".
* Use `set` to determine the set of unique words in `hamletwords_lc`.  Here's documentation on the `set` datatype:  [Sets](https://docs.python.org/3/tutorial/datastructures.html#sets).
  * Print "There are $M$ unique words in Hamlet.", where $M$ is the number of unique words.  As a sanity check, verify that $M < N$.
  * Your output should be 
  ```
  "There are 7456 unique words in Hamlet."

In [2]:
# Your code here
with open("hamlet.txt")as Fil:
    hamlettext=Fil.read()
words=hamlettext.split()

In [3]:
print(type(hamlettext))
print("Total Number of Words are {0}" .format(len(words)))

<class 'str'>
Total Number of Words are 31659

In [4]:
for i in range(500):
    print(hamlettext[i])

ï
»
؟
X
X
X
X


H
A
M
L
E
T
,

P
R
I
N
C
E

O
F

D
E
N
M
A
R
K




b
y

W
i
l
l
i
a
m

S
h
a
k
e
s
p
e
a
r
e










P
E
R
S
O
N
S

R
E
P
R
E
S
E
N
T
E
D
.




C
l
a
u
d
i
u
s
,

K
i
n
g

o
f

D
e
n
m
a
r
k
.


H
a
m
l
e
t
,

S
o
n

t
o

t
h
e

f
o
r
m
e
r
,

a
n
d

N
e
p
h
e
w

t
o

t
h
e

p
r
e
s
e
n
t

K
i
n
g
.


P
o
l
o
n
i
u
s
,

L
o
r
d

C
h
a
m
b
e
r
l
a
i
n
.


H
o
r
a
t
i
o
,

F
r
i
e
n
d

t
o

H
a
m
l
e
t
.


L
a
e
r
t
e
s
,

S
o
n

t
o

P
o
l
o
n
i
u
s
.


V
o
l
t
i
m
a
n
d
,

C
o
u
r
t
i
e
r
.


C
o
r
n
e
l
i
u
s
,

C
o
u
r
t
i
e
r
.


R
o
s
e
n
c
r
a
n
t
z
,

C
o
u
r
t
i
e
r
.


G
u
i
l
d
e
n
s
t
e
r
n
,

C
o
u
r
t
i
e
r
.


O
s
r
i
c
,

C
o
u
r
t
i
e
r
.


A

G
e
n
t
l
e
m
a
n
,

C
o
u
r
t
i
e
r
.


A

P
r
i
e
s
t
.


M
a
r
c
e
l
l
u
s
,

O
f
f
i
c
e
r
.


B
e
r
n
a
r
d
o
,

O
f
f
i
c
e
r
.


F
r
a
n
c
i
s
c
o
,

a

S
o
l
d
i
e
r


R
e
y
n
a
l
d
o
,

S
e
r
v
a
n
t

t
o

P
o
l
o
n
i
u
s
.


P
l
a
y
e
r
s
.


T
w
o

C
l
o
w
n
s

In [5]:
hamletWords=hamlettext.split()
if all(type(word)==str for word in hamletWords):
    print("All  words are string")
for i in range(10):
    print(hamletWords[i])

All  words are string
ï»؟XXXX
HAMLET,
PRINCE
OF
DENMARK
by
William
Shakespeare
PERSONS
REPRESENTED.

In [6]:
hamletWords_lc=[word.lower() for word in hamletWords ]
hamletWords_lc.count("thou")

95

In [7]:
hameltSet={word for word in hamletWords_lc}
print("There are {0} unique words in Hamelt Text".format(len(hameltSet)) )

There are 7456 unique words in Hamelt Text

In [8]:
len(set(hamletWords_lc))

7456

### `json`

We really don't want to write out complex data forms using the `write` method.

Fortunately, there are a bunch of ways to write out data:
* [`pickle`](https://docs.python.org/3/library/pickle.html#module-pickle) --- `python` specific; used for saving and loading `python` objects
* [`xml`](https://docs.python.org/3/library/xml.html) --- Commonly used standard for storing data.
* [`json`](https://docs.python.org/3/library/json.html#module-json) --- Extremely commonly used standard for sharing data.

We will focus on `json` because it is a commonly used standard for data exchange.  Here is a nice little tutorial on `json`: [Working With JSON Data in Python](https://realpython.com/python-json/).

Here are a few comments on `json`:
* Human readable
* Used both within and external to the `python` ecosystem
* Cannot represent all `python` types, but that's usually okay.  If you are only working in `python`, then you should probably just use `pickle`.

In [9]:
import json # import the json library

Suppose we have a `python` dictionary containing information about individual dogs in a particular dog shelter.

In [10]:
dog_shelter = {} # Initialize dictionary

# Set up dictionary elements
dog_shelter['dog1'] = {'name': 'Cloe', 'age': 3, 'breed': 'Border Collie', 'playgroup': 'Yes'}
dog_shelter['dog2'] = {'name': 'Karl', 'age': 7, 'breed': 'Beagle', 'playgroup': 'Yes'}

dog_shelter

{'dog1': {'name': 'Cloe',
  'age': 3,
  'breed': 'Border Collie',
  'playgroup': 'Yes'},
 'dog2': {'name': 'Karl', 'age': 7, 'breed': 'Beagle', 'playgroup': 'Yes'}}

We can access the elements of the dictionary like so:

In [11]:
dog_shelter['dog1']

{'name': 'Cloe', 'age': 3, 'breed': 'Border Collie', 'playgroup': 'Yes'}

In [12]:
dog_shelter['dog2']['name']

'Karl'

**Note:** The `dog_shelter` dictionary is actually a *dictionary of dictionaries*!  That's a perfectly legal data structure and is fairly common.

#### Writing to `json` file

Now we should save the dictionary to a file.  We decide to save it in `json` format because then many people will be able to read it and work with it.

In [13]:
with open('dog_shelter_info.txt', 'w') as output:  
    json.dump(dog_shelter, output)

We can make sure the file is there:

In [14]:
%ls

 Volume in drive D is LENOVO
 Volume Serial Number is 12DB-30EF

 Directory of D:\Acadmeic\Sem2\Introduction to data science\NewLabs\NewLab3

03/07/2022  01:29 AM    <DIR>          .
03/07/2022  01:29 AM    <DIR>          ..
03/06/2022  11:29 PM    <DIR>          .ipynb_checkpoints
03/07/2022  01:30 AM               157 dog_shelter_info.txt
09/11/2018  02:12 AM           180,718 hamlet.txt
03/25/2020  01:42 PM           287,487 Lab3.ipynb
09/11/2018  02:12 AM             1,783 mtcars.csv
03/07/2022  01:29 AM           110,764 newLab3.ipynb
02/27/2022  10:17 PM           169,347 olLab2.ipynb
               6 File(s)        750,256 bytes
               3 Dir(s)  818,493,366,272 bytes free

And we can even take a quick look:

#### Reading from `json` file

Reading from a `json` file is also very easy.

In [15]:
with open('dog_shelter_info.txt', 'r') as f:
    dog_data = json.load(f)

In [16]:
print(dog_data)

{'dog1': {'name': 'Cloe', 'age': 3, 'breed': 'Border Collie', 'playgroup': 'Yes'}, 'dog2': {'name': 'Karl', 'age': 7, 'breed': 'Beagle', 'playgroup': 'Yes'}}

Let's explore the data structure.  We know that it's a `python` dictionary.

In [17]:
for dogid, info in dog_data.items():
    print(dogid)
    print("{0} is a {1} year old {2}.".format(info['name'], info['age'], info['breed']))
    if info['playgroup'].lower() == 'yes':
        print("{0} can attend playgroup.".format(info['name']))
    else:
        print("{0} is not permitted at playgroup.".format(info['name']))
    print("======================================\n")

dog1
Cloe is a 3 year old Border Collie.
Cloe can attend playgroup.
======================================

dog2
Karl is a 7 year old Beagle.
Karl can attend playgroup.
======================================

## Part 2:  Introduction to Pandas

We'd like a data structure that can that can easily store variables of different types, that stores column names, and that we can reference by column name as well as by indexed position.  And it would be nice if this data structure came with built-in functions that we can use to manipulate it. 

`Pandas` is a package/library that does all of this!  The library is built on top of `numpy`.  There are two basic `pandas` objects, *series* and *dataframes*, which can be thought of as enhanced versions of 1D and 2D `numpy` arrays, respectively.  

For reference, here is a useful `pandas` [cheatsheet](https://drive.google.com/folderview?id=0ByIrJAE4KMTtaGhRcXkxNHhmY2M&usp=sharing) and the `pandas` [documentation](https://pandas.pydata.org/pandas-docs/stable/).

In [18]:
import pandas as pd

### Importing data

Now let's read in some automobile data as a pandas *dataframe* structure.

In [19]:
# Read in the csv files
dfcars=pd.read_csv("mtcars.csv")
# Display the header and the first five rows of data
dfcars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

Wow!  That was easy and the output looks very nice.  What we have now is a spreadsheet with indexed rows and named columns, called a *dataframe* in pandas.  `dfcars` is an instance of the `pd.DataFrame` class, created by calling the `pd.read_csv` function, which then calls the DataFrame constructor inside of it. If the last sentence is confusing, don't worry, it will become clearer later.  The take-away is that `dfcars` is a dataframe object, and it has methods (functions) belonging to it. For example, `df.head()` is a method that shows the first 5 rows of the dataframe.

A pandas dataframe is a set of columns pasted together into a spreadsheet, as shown in the schematic below.  The columns in `pandas` are called *series* objects.

![](images/pandastruct.png)

Initial data exploration is as simple as a one-liner.

In [20]:
dfcars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

That's about as simple as you could ever ask for.

Returning to the `dfcars` dataframe, we notice that the first column has a bad name: "Unnamed: 0". Let's **clean** it up.

In [21]:
dfcars=dfcars.rename(columns={"Unnamed: 0":"car name"})
dfcars.head()

,car name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

### Dataframes and Series

Now that we have our automobile data loaded as a dataframe, we'd like to be able to manipulate it and its series, say by calculating statistics and plotting distributions of features.  Fortunately, like arrays and other containers, dataframes and series are listy, so we can apply the list operations we already know to these new containers.  Below we explore our dataframe and its properties, in the context of listiness.

#### set length

 The attribute `shape` tells us the dimension of the dataframe, the number of rows and columns in the dataframe, `(rows, columns)`.  Somewhat strangely, but fairly usefully, (which is why the developers of Pandas probably did it ) the `len` function outputs the number of rows in the dataframe, not the number of columns as we'd expect based on how dataframes are built up from pandas series (columns).

In [22]:
print(dfcars.shape)     # 12 columns, each of length 32
print(len(dfcars))      # the number of rows in the dataframe, also the length of a series
print(len(dfcars.mpg))  # the length of a series

(32, 12)
32
32

#### iteration via loops

 One consequence of the column-wise construction of dataframes is that you cannot easily iterate over the rows of the dataframe.  Instead, we iterate over the columns, for example, by printing out the column names via a for loop.

In [23]:
for ele in dfcars: # iterating iterates over column names though, like a dictionary
    print(ele)

car name
mpg
cyl
disp
hp
drat
wt
qsec
vs
am
gear
carb

Or we can call the attribute `columns`.  Notice the `Index` in the output below. We'll return to this shortly.

In [24]:
dfcars.columns

Index(['car name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

We can iterate series in the same way that we iterate lists. Here we print out the number of cylinders for each of the 32 vehicles.  However, you shouldn't do this in general.  Try to use the built-in `pandas` methods.

In [25]:
for ele in dfcars.cyl:
    print(ele)

6
6
4
6
8
6
8
4
4
6
6
8
8
8
8
8
8
4
4
4
4
8
8
8
8
4
4
4
8
6
8
4

How do you iterate over rows?  Dataframes are put together column-by-column and you should be able to write code which never requires iteration over rows. But if you still find a need to iterate over rows, you can do it using `itertuples`.  See the documentation.  

**In general direct iteration through pandas series/dataframes is a bad idea.**

Instead, you should manipulate dataframes and series with `pandas` methods which are written to be very fast (i.e. they access series and dataframes at the `C` level).

#### slicing

Let's see how indexing works in dataframes.  Like lists in Python and arrays in numpy, dataframes and series are zero-indexed.

In [26]:
dfcars.head()

,car name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [27]:
# index for the dataframe
print(list(dfcars.index))
# index for the cyl series
dfcars.cyl.index

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

RangeIndex(start=0, stop=32, step=1)

There are two ways to index dataframes. The `loc` property indexes by label name, while `iloc` indexes by position in the index. We'll illustrate this with a slightly modified version of `dfcars`, created by relabeling the row indices of `dfcars` to start at $5$ instead of $0$.

In [28]:
# create values from 5 to 36
new_index = [i+5 for i in range(32)]

# new dataframe with indexed rows from 5 to 36
dfcars_reindex = dfcars.reindex(new_index)
dfcars_reindex.head()

,car name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.46,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.57,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.19,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.15,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.44,18.30,1.0,0.0,4.0,4.0

We now return the first three rows of `dfcars_reindex` in two different ways, first with `iloc` and then with `loc`. 

With `iloc` we use the command,

since `iloc` uses the position in the index. Notice that the argument `0:3` with `iloc` returns the first three rows of the dataframe, which have label names 5, 6, and 7. 

To access the same rows with `loc`, we write

In [29]:
dfcars_reindex.iloc[0:3]

,car name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.46,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.57,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.19,20.00,1.0,0.0,4.0,2.0

In [30]:
dfcars_reindex.loc[5:7] # or dfcars_reindex.loc[5:7]

,car name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.46,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.57,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.19,20.00,1.0,0.0,4.0,2.0

since `loc` indexes via the label name.  

Here's another example where we return three rows of `dfcars_reindex` that correspond to column attributes `mpg`, `cyl`, and `disp`.  First do it with `iloc`:

In [31]:
dfcars_reindex.iloc[2:5, 1:4]

    mpg  cyl   disp
7  24.4  4.0  146.7
8  22.8  4.0  140.8
9  19.2  6.0  167.6

Notice that rows we're accessing, 2, 3, and 4, have label names 7, 8, and 9, and the columns we're accessing, 1, 2, and 3, have label names `mpg`, `cyl`, and `disp`.  So for both rows and columns, we're accessing elements of the dataframe using the integer position indices.  Now let's do it with `loc`:

In [32]:
dfcars_reindex.loc[7:9, ['mpg', 'cyl', 'disp']]

    mpg  cyl   disp
7  24.4  4.0  146.7
8  22.8  4.0  140.8
9  19.2  6.0  167.6

We don't have to remember that `disp` is the third column of the dataframe the way we did when the data was stored as a `numpy` array -- we can simply access it with `loc` using the label name `disp`. 

Generally we prefer `iloc` for indexing rows and `loc` for indexing columns.

<div class="exercise"><b>Exercise</b></div>
In this exercise you'll examine the documentation to generate a toy dataframe from scratch.  Go to the documentation and click on "10 minutes to pandas" in the table of contents.  Then do the following:

>1.  Create a series called `column_1` with entries 0, 1, 2, 3.

>2.  Create a second series called `column_2` with entries 4, 5, 6, 7.

>3.  Glue these series into a dataframe called `table`, where the first and second labelled column of the dataframe are `column_1` and `column_2`, respectively.  In the dataframe, `column_1` should be indexed as `col_1` and `column_2` should be indexed as `col_2`.

> Oops!  You've changed your mind about the index labels for the columns.  Use `rename` to rename `col_1` as `Col_1` and `col_2` as `Col_2`.  

> *Stretch*: Can you figure out how to rename the row indexes?  Try to rename `0` as `zero`, `1` as `one`, and so on.

In [33]:
# your code here

### Reading `json` into `pandas` dataframe

Before moving on, there is one more convenient thing to discuss.

Hopefully you remember reading and writing data to `json` files from earlier in the lab.

Now that you're equipped with `pandas`, we can discuss reading `json` data into `pandas` dataframes!

Recall that we had save a `json` file earlier called `dog_shelter_info.txt`.  Let's load it up, convert it to a `pandas` dataframe, and take a look.

In [34]:
# Load dog shelter data
with open('dog_shelter_info.txt', 'r') as f:
    dog_data = json.load(f)

dog_data_json_str = json.dumps(dog_data) # Convert data to json string
df = pd.read_json(dog_data_json_str) # Convert to pandas dataframe
df.head() # Look at data

                    dog1    dog2
name                Cloe    Karl
age                    3       7
breed      Border Collie  Beagle
playgroup            Yes     Yes

#### Recap

At this point, you have:
* Refreshed your `python` knowledge
* Learned about basic `python` I/O
* Learned basic text processing with `python` string methods
* Learned advanced text processing with regular expressions
* Learned a little bit about the `json` format
* Become proficient with `pandas`

The last part of this lab will focus on working with even uglier data formats.  Specifically, we will look at parsing data from a web page.  Fortunately, there is a wonderful library out there that makes life much easier in this regard.  It is called *BeautifulSoup*.

##  Part 4: Beautiful Soup 
Data Engineering, the process of gathering and preparing data for analysis, is a very big part of Data Science.

Datasets might not be formatted in the way you need (e.g. you have categorical features but your algorithm requires numerical features); or you might need to cross-reference some dataset to another that has a different format; or you might be dealing with a dataset that contains missing or invalid data.

These are just a few examples of why data retrieval and cleaning are so important.

---

### `requests`:  Retrieving Data from the Web

In HW1, you will be asked to retrieve some data from the Internet. `Python` has many built-in libraries that were developed over the years to do exactly that (e.g. `urllib`, `urllib2`, `urllib3`).

However, these libraries are very low-level and somewhat hard to use. They become especially cumbersome when you need to issue POST requests or authenticate against a web service.

Luckly, as with most tasks in `Python`, someone has developed a library that simplifies these tasks. In reality, the requests made both on this lab and on HW1 are fairly simple, and could easily be done using one of the built-in libraries. However, it is better to get acquainted to `requests` as soon as possible, since you will probably need it in the future.

In [35]:
# You tell Python that you want to use a library with the import statement.
import requests

Now that the requests library was imported into our namespace, we can use the functions offered by it.

In this case we'll use the appropriately named `get` function to issue a *GET* request. This is equivalent to typing a URL into your browser and hitting enter.

In [36]:
# Get the HU Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/Harvard_University")

Python is an Object Oriented language, and everything on it is an object. Even built-in functions such as `len` are just syntactic sugar for acting on object properties.

We will not dwell too long on OO concepts, but some of Python's idiosyncrasies will be easier to understand if we spend a few minutes on this subject.

When you evaluate an object itself, such as the `req` object we created above, Python will automatially call the `__str__()` or `__repr__()` method of that object. The default values for these methods are usually very simple and boring. The `req` object however has a custom implementation that shows the object type (i.e. `Response`) and the HTTP status number (200 means the request was successful).

In [37]:
req

Just to confirm, we will call the `type` function on the object to make sure it agrees with the value above.

In [38]:
type(req)

requests.models.Response

Another very nifty Python function is `dir`. You can use it to list all the properties of an object.

By the way, properties starting with a single and double underscores are usually not meant to be called directly.

In [39]:
dir(req)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

Right now `req` holds a reference to a *Request* object; but we are interested in the text associated with the web page, not the object itself.

So the next step is to assign the value of the `text` property of this `Request` object to a variable.

In [40]:
page = req.text
page[20000:30000]

'span></span></span><span class="geo-multi-punct">&#xfeff; / &#xfeff;</span><span class="geo-nondefault"><span class="geo-dec" title="Maps, aerial photos, and other data for this location">42.37444°N 71.11694°W</span><span style="display:none">&#xfeff; / <span class="geo">42.37444; -71.11694</span></span></span></a></span></span></span></td></tr><tr><th scope="row" class="infobox-label" style="padding-right:0.65em;">Campus</th><td class="infobox-data">Urban, 209 acres (85&#160;ha)</td></tr><tr><th scope="row" class="infobox-label" style="padding-right:0.65em;">Language</th><td class="infobox-data">Mostly English</td></tr><tr><th scope="row" class="infobox-label" style="padding-right:0.65em;">Newspaper</th><td class="infobox-data"><i><a href="/wiki/The_Harvard_Crimson" title="The Harvard Crimson">The Harvard Crimson</a></i></td></tr><tr><th scope="row" class="infobox-label" style="padding-right:0.65em;"><a href="/wiki/School_colors" title="School colors">Colors</a></th><td class="infobox-data"><style data-mw-deduplicate="TemplateStyles:r981673959">.mw-parser-output .legend{page-break-inside:avoid;break-inside:avoid-column}.mw-parser-output .legend-color{display:inline-block;min-width:1.25em;height:1.25em;line-height:1.25;margin:1px 0;text-align:center;border:1px solid black;background-color:transparent;color:black}.mw-parser-output .legend-text{}</style><span class="legend-color" style="background-color:#A51C30; color:white;">&#160;</span> <a href="/wiki/Crimson" title="Crimson">Crimson</a><sup id="cite_ref-glance_4-1" class="reference"><a href="#cite_note-glance-4">&#91;4&#93;</a></sup></td></tr><tr><th scope="row" class="infobox-label" style="padding-right:0.65em;"><a href="/wiki/Athletic_nickname" title="Athletic nickname">Nickname</a></th><td class="infobox-data"><a href="/wiki/Harvard_Crimson" title="Harvard Crimson">Harvard Crimson</a></td></tr><tr><th scope="row" class="infobox-label" style="padding-right:0.65em;"><div style="display:inline-block; padding:0.1em 0;line-height:1.2em;">Sporting affiliations</div></th><td class="infobox-data"><a href="/wiki/NCAA_Division_I" title="NCAA Division I">NCAA Division I</a> – <a href="/wiki/Ivy_League" title="Ivy League">Ivy League</a></td></tr><tr><th scope="row" class="infobox-label" style="padding-right:0.65em;">Mascot</th><td class="infobox-data">John Harvard</td></tr><tr><th scope="row" class="infobox-label" style="padding-right:0.65em;">Website</th><td class="infobox-data"><span class="url"><a rel="nofollow" class="external text" href="https://www.harvard.edu">www<wbr />.harvard<wbr />.edu</a></span></td></tr><tr><td colspan="2" class="infobox-full-data"><a href="/wiki/File:Harvard_University_logo.svg" class="image"><img alt="Logotype of Harvard University" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/70/Harvard_University_logo.svg/220px-Harvard_University_logo.svg.png" decoding="async" width="220" height="58" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/70/Harvard_University_logo.svg/330px-Harvard_University_logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/70/Harvard_University_logo.svg/440px-Harvard_University_logo.svg.png 2x" data-file-width="1123" data-file-height="294" /></a></td></tr></tbody></table>\n<p><b>Harvard University</b> is a <a href="/wiki/Private_university" title="Private university">private</a> <a href="/wiki/Ivy_League" title="Ivy League">Ivy League</a> <a href="/wiki/Research_university" title="Research university">research university</a> in <a href="/wiki/Cambridge,_Massachusetts" title="Cambridge, Massachusetts">Cambridge, Massachusetts</a>. Founded in 1636 as <b>Harvard College</b> and named for its first benefactor, the <a href="/wiki/History_of_the_Puritans_in_North_America" title="History of the Puritans in North America">Puritan</a> clergyman <a href="/wiki/John_Harvard_(clergyman)" title="John Harvard (clergyman)">John Harvard</a>, it is the oldest institution of higher learning in the United States and among the most prestigious in the world.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6">&#91;6&#93;</a></sup>\n</p><p>The <a href="/wiki/Massachusetts_General_Court" title="Massachusetts General Court">Massachusetts colonial legislature</a> authorized Harvard\'s founding, "dreading to leave an illiterate <a href="/wiki/Minister_(Christianity)" title="Minister (Christianity)">ministry</a> to the churches, when our present ministers shall lie in the dust"; though never formally affiliated with any <a href="/wiki/Religious_denomination" title="Religious denomination">denomination</a>, in its early years <a href="/wiki/Harvard_College" title="Harvard College">Harvard College</a> primarily trained <a href="/wiki/Congregationalism_in_the_United_States" title="Congregationalism in the United States">Congregational</a> clergy. Its curriculum and student body were gradually secularized during the 18th century, and by the 19th century, it had emerged as the central cultural establishment among <a href="/wiki/Boston_Brahmin" title="Boston Brahmin">the Boston elite</a>.<sup id="cite_ref-7" class="reference"><a href="#cite_note-7">&#91;7&#93;</a></sup><sup id="cite_ref-8" class="reference"><a href="#cite_note-8">&#91;8&#93;</a></sup>\nFollowing the <a href="/wiki/American_Civil_War" title="American Civil War">American Civil War</a>, President <a href="/wiki/Charles_William_Eliot" title="Charles William Eliot">Charles William Eliot</a>\'s long tenure (1869–1909) transformed the <a href="/wiki/Harvard_College" title="Harvard College">college</a> and affiliated professional schools into a modern <a href="/wiki/Research_university" title="Research university">research university</a>; Harvard became a founding member of the <a href="/wiki/Association_of_American_Universities" title="Association of American Universities">Association of American Universities</a> in 1900.<sup id="cite_ref-AAU_9-0" class="reference"><a href="#cite_note-AAU-9">&#91;9&#93;</a></sup> <a href="/wiki/James_B._Conant" title="James B. Conant">James B. Conant</a> led the university through the <a href="/wiki/Great_Depression" title="Great Depression">Great Depression</a> and <a href="/wiki/World_War_II" title="World War II">World War II</a>, and liberalized admissions after the war.\n</p><p>The university is composed of ten academic faculties plus the <a href="/wiki/Radcliffe_Institute_for_Advanced_Study" class="mw-redirect" title="Radcliffe Institute for Advanced Study">Radcliffe Institute for Advanced Study</a>. <a href="/wiki/Harvard_Faculty_of_Arts_and_Sciences" title="Harvard Faculty of Arts and Sciences">Arts and Sciences</a> offers study in a wide range of <a href="/wiki/Academic_discipline" title="Academic discipline">academic disciplines</a> for undergraduates and for graduates, while the other faculties offer only graduate degrees, mostly <a href="/wiki/Professional_degree" title="Professional degree">professional</a>. Harvard has three main campuses:<sup id="cite_ref-10" class="reference"><a href="#cite_note-10">&#91;10&#93;</a></sup>\nthe 209-acre (85&#160;ha) Cambridge campus centered on <a href="/wiki/Harvard_Yard" title="Harvard Yard">Harvard Yard</a>; an adjoining campus immediately across the <a href="/wiki/Charles_River" title="Charles River">Charles River</a> in the <a href="/wiki/Allston" title="Allston">Allston</a> neighborhood of Boston; and the medical campus in Boston\'s <a href="/wiki/Longwood_Medical_and_Academic_Area" title="Longwood Medical and Academic Area">Longwood Medical Area</a>.<sup id="cite_ref-Campus_11-0" class="reference"><a href="#cite_note-Campus-11">&#91;11&#93;</a></sup> <a href="/wiki/Harvard_University_endowment" title="Harvard University endowment">Harvard\'s endowment</a> is valued at $53.2&#160;billion, making it the <a href="/wiki/List_of_colleges_and_universities_in_the_United_States_by_endowment" title="List of colleges and universities in the United States by endowment">largest of any academic institution</a>.<sup id="cite_ref-Endowment_3-1" class="reference"><a href="#cite_note-Endowment-3">&#91;3&#93;</a></sup> Endowment income helps enable the undergraduate college to <a href="/wiki/Need-blind_admission" title="Need-blind admission">admit students regardless of financial need</a> and provide generous financial aid with no loans.<sup id="cite_ref-12" class="reference"><a href="#cite_note-12">&#91;12&#93;</a></sup> The <a href="/wiki/Harvard_Library" title="Harvard Library">Harvard Library</a> is the world\'s largest academic library system, comprising 79 individual libraries holding about 20.4&#160;million items.<sup id="cite_ref-hlar_13-0" class="reference"><a href="#cite_note-hlar-13">&#91;13&#93;</a></sup><sup id="cite_ref-largestlibs_14-0" class="reference"><a href="#cite_note-largestlibs-14">&#91;14&#93;</a></sup><sup id="cite_ref-speaking_15-0" class="reference"><a href="#cite_note-speaking-15">&#91;15&#93;</a></sup><sup id="cite_ref-Harvard_Media_Relations_16-0" class="reference"><a href="#cite_note-Harvard_Media_Relations-16">&#91;16&#93;</a></sup>\n</p><p>Harvard has more alumni, faculty, and researchers who have won <a href="/wiki/List_of_Nobel_laureates_by_university_affiliation" title="List of Nobel laureates by university affiliation">Nobel Prizes</a> (161) and <a href="/wiki/Fields_Medal" title="Fields Medal">Fields Medals</a> (18) than any other university in the world and more alumni who have been members of the <a href="/wiki/United_States_Congress" title="United States Congress">U.S. Congress</a>, <a href="/wiki/MacArthur_Fellows" class="mw-redirect" title="MacArthur Fellows">MacArthur Fellows</a>, <a href="/wiki/Rhodes_Scholarship" title="Rhodes Scholarship">Rhodes Scholars</a> (375), <a href="/wiki/Marshall_Scholarship" title="Marshall Scholarship">Marshall Scholars</a> (255), and <a href="/wiki/Fulbright_Program" title="Fulbright Program">Fulbright Scholars</a> than any other university in the United States.<sup id="cite_ref-17" class="reference"><a href="#cite_'

Great! Now we have the text of the Harvard University Wikipedia page. But this mess of HTML tags would be a pain to parse manually. Which is why we will use another very cool Python library called `BeautifulSoup`.

### `BeautifulSoup`

Parsing data would be a breeze if we could always use well formatted data sources, such as CSV, JSON, or XML; but some formats such as HTML are at the same time a very popular and a pain to parse.

One of the problems with HTML is that over the years browsers have evolved to be very forgiving of "malformed" syntax. Your browser is smart enough to detect some common problems, such as open tags, and correct them on the fly.

Unfortunately, we do not have the time or patience to implement all the different corner cases, so we'll let BeautifulSoup do that for us.

You'll notice that the `import` statement bellow is different from what we used for `requests`. The _from library import thing_ pattern is useful when you don't want to reference a function byt its full name (like we did with `requests.get`), but you also don't want to import every single thing on that library into your namespace.

In [41]:
from bs4 import BeautifulSoup

`BeautifulSoup` can deal with `HTML` or `XML` data, so the next line parses the contents of the `page` variable using its `HTML` parser, and assigns the result of that to the `soup` variable.

In [42]:
soup = BeautifulSoup(page, 'html.parser')

In [43]:
type(soup)

bs4.BeautifulSoup

Doesn't look much different from the `page` object representation. Let's make sure the two are different types.

In [44]:
type(page)

str

Looks like they are indeed different.

`BeautifulSoup` objects have a cool little method that allows you to see the `HTML` content in a nice, indented way.

In [45]:
print(soup.prettify()[:1000])

<!DOCTYPE html>
<html class="client-nojs" dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   Harvard University - Wikipedia
  </title>
  <script>
   document.documentElement.className="client-js";RLCONF={"wgBreakFrames":false,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"27578fa5-4af7-4136-be3f-3840fc4d7e4c","wgCSPNonce":false,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"Harvard_University","wgTitle":"Harvard University","wgCurRevisionId":1074567236,"wgRevisionId":1074567236,"wgArticleId":18426501,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["CS1 maint: location","Webarchive template wayback links","CS1: Julian–Gregorian uncertainty","CS1 errors: generic name"

Looks like it's our page!

We can now reference elements of the `HTML` document in different ways. One very convenient way is by using the dot notation, which allows us to access the elements as if they were properties of the object.

In [46]:
soup.title

This is nice for `HTML` elements that only appear once per page, such the the `title` tag. But what about elements that can appear multiple times?

In [47]:
# Be careful with elements that show up multiple times.
soup.p

<p class="mw-empty-elt">
</p>

Uh Oh. Turns out the attribute syntax in `Beautiful` soup is what is called *syntactic sugar*. That's why it is safer to use the explicit commands behind that syntactic sugar I mentioned. These are:
* `BeautifulSoup.find` for getting single elements, and 
* `BeautifulSoup.find_all` for retrieving multiple elements.

In [48]:
len(soup.find_all("p"))

107

If you look at the Wikipedia page on your browser, you'll notice that it has a couple of tables in it. We will be working with the "Demographics" table, but first we need to find it.

One of the `HTML` attributes that will be very useful to us is the `class` attribute.

Getting the class of a single element is easy!

In [49]:
soup.table["class"]

['box-Merge_from', 'plainlinks', 'metadata', 'ambox', 'ambox-move']

Next we will use a *list comprehension* to see all the tables that have a `class` attribute.

In [50]:
# the classes of all tables that have a class attribute set on them
[t["class"] for t in soup.find_all("table") if t.get("class")]

[['box-Merge_from', 'plainlinks', 'metadata', 'ambox', 'ambox-move'],
 ['infobox', 'vcard'],
 ['toccolours'],
 ['infobox'],
 ['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright'],
 ['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright'],
 ['wikitable', 'sortable'],
 ['wikitable'],
 ['metadata', 'mbox-small'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner']]

As already mentioned, we will be using the Demographics table for this lab. The next cell contains the `HTML` elements of said table. We will render it in different parts of the notebook to make it easier to follow along the parsing steps.

In [51]:
table_demographics = soup.find_all("table", "wikitable")[3]

In [52]:
from IPython.core.display import HTML
HTML(str(table_demographics))

First we'll use a list comprehension to extract the rows (*tr*) elements.

In [53]:
rows = [row for row in table_demographics.find_all("tr")]
print(rows)

[<tr>
<th></th>
<th>Undergrad</th>
<th>Grad/prof
</th></tr>, <tr>
<th>Asian
</th>
<td>21%</td>
<td>13%
</td></tr>, <tr>
<th>Black
</th>
<td>9%</td>
<td>5%
</td></tr>, <tr>
<th>Hispanic or Latino
</th>
<td>11%</td>
<td>7%
</td></tr>, <tr>
<th>White
</th>
<td>37%</td>
<td>38%
</td></tr>, <tr>
<th>Two or more races
</th>
<td>8%</td>
<td>3%
</td></tr>, <tr>
<th>International
</th>
<td>12%</td>
<td>32%
</td></tr>]

In [54]:
header_row = rows[0]
HTML(str(header_row))

We will then use a `lambda` expression to replace new line characters with spaces. `Lambda` expressions are to functions what list comprehensions are to lists: namely a more concise way to achieve the same thing.

In reality, both lambda expressions and list comprehensions are a little different from their function and loop counterparts. But for the purposes of this class we can ignore those differences.

In [55]:
# Lambda expressions return the value of the expression inside it.
# In this case, it will return a string with new line characters replaced by spaces.
rem_nl = lambda s: s.replace("\n", " ")

#### Splitting the data
Next we extract the text value of the columns. If you look at the table above, you'll see that we have three columns and six rows.

Here we're doing the following:
* Taking the first element (`Python` indices start at zero)
* Iterating over the *th* elements inside it
* Taking the text value of those elements

We should end up with a list of column names.

But there is one little caveat: the first column of the table is actually an empty string (look at the cell right above the row names). We could add it to our list and then remove it afterwards; but instead we will use the `if` statement inside the list comprehension to filter that out.

In the following cell, `get_text` will return an empty string for the first cell of the table, which means that the test will fail and the value will not be added to the list.

In [56]:
# the if col.get_text() takes care of no-text in the upper left
columns = [rem_nl(col.get_text()) for col in header_row.find_all("th") if col.get_text()]
columns

['Undergrad', 'Grad/prof ']

Now let's do the same for the rows. Notice that since we have already parsed the header row, we will continue from the second row.

In [57]:
indexes = [row.find("th").get_text() for row in rows[1:]]
indexes

['Asian\n',
 'Black\n',
 'Hispanic or Latino\n',
 'White\n',
 'Two or more races\n',
 'International\n']

Now we want to transform the string on the cells to integers.  To do this, we follow a very common `python` pattern:
1. Check if the last character of the string is a percent sign
2. If it is, then convert the characters before the percent sign to integers
3. If one of the prior checks fails, return a value of `None`

These steps can be conveniently packaged into a function using `if-else` statements.

In [58]:
def to_num(s):
    if s[-1] == "%":
        return int(s[:-1])
    else:
        return None

Notice the `Python` slices are open on the upper bound. So the `[:-1]` construct will return all elements of the string, except for the last.

Another nice way to write our `to_num` function would be
```python
def to_num(s):
    return int(s[:-1]) if s[-1] == "%" else None
```
Notice that we only had to write `return` one time and everything conveniently fits on one line.  I'll leave it up to you to decide if it's readable or not.

Now we use the `to_num` function in a list comprehension to parse the table values.

Notice that we have two `for ... in ...` in this list comprehension. That is perfectly valid and somewhat common.

Although there is no real limit to how many iterations you can perform at once, having more than two can be visually unpleasant, at which point either regular nested loops or saving intermediate comprehensions might be a better solution.

In [59]:
values = [to_num(value.get_text()) for row in rows[1:] for value in row.find_all("td")]
values

[21, None, 9, None, 11, None, 37, None, 8, None, 12, None]

---

---

#### Answers to data structures from the beginning of lab
- the names of everyone in 19CSAI01I?
    - a list (or a tuple, if the roster won't change)
- a list of all the words in the English language (presuming we'll want to search and decide if a particular user-provided word is one of the correctly-spelled words)?
    - a set! (A list would be very slow to search, and a dictionary mapping each word to "yes" or "no" would be wasteful... we simply want to know whether the user's word is or isn't among the valid words
- the name associated with each (sequential) student ID?
    - a list or tuple. Becuase the IDs are sequential a list (which maps indexes 0,1,2,... to its contents) is a good choice. A dictionary could be slower but also suffices.
- the nickname associated with each student ID?
    - None of the above, directly. However, we could set up a list or dictionary where we provide a student ID and get back a two-element list, where element 0 is the nickname and element 1 is the username.
    
In order to do well in the course, you should score _at least_ 3/5, and preferably a 4/5.