In [1]:
## There is an csv file in the same directry, read it to pandas data frame
## Show the head of the data frame

###########Your Sol#########

In [2]:
## First print the shape of dataframe, what is the dimensions represent?
## Rename Symbol column to SymCol1

###########Your Sol#########

In [3]:
## As known, Pandas starts the index from 0, but we need to start it to start from 1
## Print the index of pandas
## Then Reset index to start from 1 (Can we Assign the new index to list directly?)

###########Your Sol#########

In [4]:
## Reterive first three columns from rows from index 5 to 10 by two methods (loc,iloc)

###########Your Sol#########

In [5]:
## Sort the dataframe based on Market cap col in descending order

###########Your Sol#########

In [6]:
## Print the unique values of SymCol1 column

###########Your Sol#########

In [7]:
## Print the datatybes of the whole columns

###########Your Sol#########

In [8]:
## Reterive first three rows in which symcol1 equal BA

###########Your Sol#########

In [9]:
# Print length of row that year is greater than or equal 2006

###########Your Sol#########

In [10]:
# print number of nulls in each col

###########Your Sol#########

In [11]:
# Drop columns that contain more than 70 nan values than print number of nulls again

###########Your Sol#########

In [12]:
## Drop rows with nulls, then print number of nulls again

###########Your Sol#########

In [13]:
## Print the unique values of column country, then convert it to numerical value using get_dummies

###########Your Sol#########