# Introduction to Data Science 


## Lab 6: Exercise

**British University in Egypt**<br>
**Instructors:** Nahla Barakt <br>

In [1]:
from IPython.display import HTML
style = "<style>div.exercise { background-color: #ffcccc;border-color: #E9967A; border-left: 5px solid #800080; padding: 0.5em;}</style>"
HTML(style)

In [2]:
import pandas as pd

#### Add % in front and end of every single word in a given string str:
"Fall is Awesome in Alabama" <br> only using **list comprehensions**.

#### Output:
['%Fall%','%is%','%Awesome%','%in%','%Alabama%']

In [3]:
str = "Fall is Awesome in Alabama"
####################YourCode####################

#### Write a code that creates the next three lists <br>
['S001', 'S002', 'S003', 'S004']<br>
['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']<br>
[85, 98, 89, 92]<br>


#### Then Convert the lists to Nested dictionary :
{'S001': {'Adina Park': 85}, 'S002': {'Leyton Marsh': 98}, 'S003': {'Duncan Boyle': 89}, 'S004': {'Saim Richards': 92}}

In [4]:
l1=['S001','S002','S003','S004']
l2=['Adina Park','Leyton Marsh','Duncan Boyle','Saim Richards']
l3=[85, 98, 89, 92]

####################YourCode####################

In [5]:
# Download the dataset on e-learning that is called Exercise dataset and read it as dataframe
# Print the tail of the dataframe
####################YourCode####################

In [6]:
## Explore the dataset

####################YourCode####################

In [7]:
## Check number of nulls in the dataframe

####################YourCode####################

In [8]:
## Drop DiscontinuedDate,ChemicalDateRemoved, CasNumber, CSF columns

####################YourCode####################

In [9]:
## Imputate CasNumber nulls by mean
####################YourCode####################

In [10]:
## Replace BrandName nulls by unKnown

####################YourCode####################

In [11]:
## Reterive columns CDPHId, PrimaryCategoryId, and ChemicalCount Columns

####################YourCode####################

In [12]:
## Check number of nulls again

####################YourCode####################

In [13]:
## Reterive last 500 rows

####################YourCode####################

In [14]:
## Reterive rows that company id between 1100 and 1260 and company name Contains USA

####################YourCode####################

In [15]:
## Convert MostRecentDateReported, ChemicalCreatedAt, ChemicalUpdatedAt to date type

####################YourCode####################

In [16]:
# Group rows of dataframe that brandName is unknown by Chemical Name ant get the sum

####################YourCode####################

In [17]:
## Write a regex that gets company name that contains an alphabet small or Captial and special charcter .
## Print the value counts of your mathcing

####################YourCode####################

In [18]:
# Use the results of previous regex and get the rows that matching the regex

####################YourCode####################